/* Reset some default styling */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

a{
  text-decoration: none;
}

/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 0 150px;
  border-bottom: 1px solid #ddd;
}

header a{
  color: black;
}

.nav-links{
  display: flex;
  gap: 30px 
}
.header-buttons{
  display: flex;
  gap: 10px;
}

/* Component Styles */
.component {
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
}

.component > *{
  margin: 10px;
  padding: 10px;
}

.section > *{
  padding: 10px;
}

.sub-grow-bussiness{
  display: flex;
  flex-wrap: wrap; 
}

.section {
  flex: 1; /* Distribute available space equally among the sections */
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.header-buttons button:first-child {
  background-color: white;
  border: none;
  padding: 10px;
}

.custom-button {
  border: none;
}

.custom-button1 {
  background-color: white;
}